<div class="partial">

<h2>This is my navbar</h2>
<ul>
    <li>
         <a href="/registration">Sign Up</a>
        <a href="/login">Sign In</a>
        <a href="/editprofile">Your Profile</a>
    </li>
</ul>
</div>
