<div class="partial">

<h2>This is my navbar</h2>
<ul>
    <li>
        <a href="/">Petition</a>
        <a href="/about">Signers</a>
    </li>
</ul>
    <!-- <ul>
        {{#characters}}
        <li>
            <a href="/{{character}}">{{character}}</a>
        </li>
        {{/characters}}
    </ul> -->
</div>
