<body>
    <div class="view">


        <h1>Taking care of yourself &nbsp; &nbsp;<i class="far fa-heart"></i></h1>
        <p>Put mental health at the heart of what children learn in school</p>
        <p> &nbsp; | &nbsp; #wheresyourheadat &nbsp; | &nbsp;</p>
        <!-- <img class="image" src="CSS/images/mentalhealth.jpeg" alt="Mental Heath Statistics"> -->
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <!-- <img id="backlogo" src="CSS/images/makeitcount.png" alt=""> -->
        <blockquote >
            "Mental health difficulties like anxiety, depression, and post-traumatic stress disorder can lead to substance abuse problems and, conversely, using substances can worsen mental health conditions in some people. Dual-diagnosis treatment can help address both issues simultaneously."
        </blockquote>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptateut aliquip ex ea commodo.</p>
        <div class="handlesWrapper">
        <a id=handle href="/registration">Register</a>&nbsp; | &nbsp;
        <a id=handle href="/login">Login</a>
            </div>
    </div>
</body>
