    <body>
        <h1>PETITION</h1>
        <p>this petition is for ...</p>
<div class="main">
        <form action="/subscription" method="post">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
             <canvas id="signature" width="400" height="200"></canvas>
            <input name="signature" type="hidden" placeholder="signature">
            <button type="submit" name="button">SUBMIT</button>
        </form>
</div>
    </body>
