<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>PETITION</h1>
        <p>this petition is for ...</p>
<div class="main">
        <form action="/subscription" method="post">
            <input type="text" name="firstName">
            <input type="text" name="surname">
            <input type="email" name="email">
             <canvas id="signature" width="500" height="100"></canvas>
            <input type="text" name="signature" input="hidden">
            <button type="submit" name="button">SUBMIT</button>
        </form>
</div>
    </body>
</html>
