<h1>registration</h1>
<form method="post">
    <input name="first" type="text" placeholder="first">
    <input name="last" type="text" placeholder="last">
    <input name="email" type="email" placeholder="email">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input name="password" type="password" placeholder="password">
    <button>Submit</button>

</form>
